.header h1{
    font-family: "Sofia", sans-serif;
    text-align: left;
    font-size: 100px;
    }
    .header img{
    float:left ;
    width: 200px;
    height: 100px;
    }

    nav{
        text-align: center;
        }
        body{
            background-color: rgb(235, 83, 83);
        }

table{
    width: 100%;

    text-align: center;
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    color: white;
    border: 1px solid #ddd;
  padding: 8px;
}
caption{
    font-size: 50px;
    color: black;
    font-family: "Trirong", serif;
    }
table.center {
    margin-left: auto; 
    margin-right: auto;
  }

  footer{
    font-style: italic;
    font-size: 25px;
}