@media only screen and (min-width: 768px) {
    nav .menu-label {
      display: none;
    }
  td{
    text-align: center;
  }
  textarea{
    width: 100%;
  }
  h2{
    font-size: 50px;
    text-align: center;
  }

.header h1{
    font-family: "Sofia", sans-serif;
    text-align: left;
    font-size: 100px;
    }
    .header img{
    float:left ;
    width: 200px;
    height: 100px;
    }
    #fname{font-size: 100%;}

    nav{
        text-align: center;
        font-size: 30px;
        }
        body{
            background-color: rgb(235, 83, 83);
        }
    }
    footer{
      font-weight: bold;
        font-style: italic;
        font-size: 20px;
    }
    
      table.center{
          margin-left: auto;
          margin-right: auto;
          height: 50%;
          width: 50%;
          font-size: 40px;
      }